/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
// Custom.scss
// Option A: Include all of Bootstrap

@import "../bootstrap-5.0.0-beta2/scss/bootstrap";

// Option B: Include parts of bootstrap. Needed to modify variables
// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../bootstrap-5.0.0-beta2/scss/functions";

// 2. Include any default variable overrides here
$nav-tabs-link-active-color:        red;
$navbar-light-color:                red;

// 3. Include remainder of required Bootstrap stylesheets
@import "../bootstrap-5.0.0-beta2/scss/variables";
@import "../bootstrap-5.0.0-beta2/scss/mixins";

// 4. Include any optional Bootstrap components as you like
@import "../bootstrap-5.0.0-beta2/scss/root";
@import "../bootstrap-5.0.0-beta2/scss/reboot";
@import "../bootstrap-5.0.0-beta2/scss/type";
@import "../bootstrap-5.0.0-beta2/scss/images";
@import "../bootstrap-5.0.0-beta2/scss/containers";
@import "../bootstrap-5.0.0-beta2/scss/grid";
@import "../bootstrap-5.0.0-beta2/scss/tables";
@import "../bootstrap-5.0.0-beta2/scss/forms";
@import "../bootstrap-5.0.0-beta2/scss/buttons";
@import "../bootstrap-5.0.0-beta2/scss/transitions";
@import "../bootstrap-5.0.0-beta2/scss/dropdown";
@import "../bootstrap-5.0.0-beta2/scss/button-group";
@import "../bootstrap-5.0.0-beta2/scss/nav";
@import "../bootstrap-5.0.0-beta2/scss/navbar";
@import "../bootstrap-5.0.0-beta2/scss/card";
@import "../bootstrap-5.0.0-beta2/scss/accordion";
@import "../bootstrap-5.0.0-beta2/scss/breadcrumb";
@import "../bootstrap-5.0.0-beta2/scss/pagination";
@import "../bootstrap-5.0.0-beta2/scss/badge";
@import "../bootstrap-5.0.0-beta2/scss/alert";
@import "../bootstrap-5.0.0-beta2/scss/progress";
@import "../bootstrap-5.0.0-beta2/scss/list-group";
@import "../bootstrap-5.0.0-beta2/scss/close";
@import "../bootstrap-5.0.0-beta2/scss/toasts";
@import "../bootstrap-5.0.0-beta2/scss/modal";
@import "../bootstrap-5.0.0-beta2/scss/tooltip";
@import "../bootstrap-5.0.0-beta2/scss/popover";
@import "../bootstrap-5.0.0-beta2/scss/carousel";
@import "../bootstrap-5.0.0-beta2/scss/spinners";

// Helpers
@import "../bootstrap-5.0.0-beta2/scss/helpers";

// Utilities
@import "../bootstrap-5.0.0-beta2/scss/utilities/api";
// 5. Add additional custom code here

// Add custom code after this

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  /*color: #5a5a5a;*/
  color: #000000; /* foreground or text color */
}
.nav-link {
  color: #000000; /* foreground or text color */
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
/* rtl:end:ignore */


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  /* rtl:remove */
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
