# Ignore bootstrap files when building
bootstrap-5.0.0-beta2

# Ignore Mac system files
.DS_store

# Ignore node_modules folder
#node_modules

# Ignore all text files
*.txt

# Ignore files related to API keys
.env

# Ignore SASS config files
.sass-cache
